<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<html>
        <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>

        <body>
                <h1 style="text-align:center">
                        <% for (var i = 0; i < 1; i++) { %>
                            <%= dataset[i].UCSC_CSC_plate %>
                        <% } %>
                </h1>

                <h4 style="text-align:center"> Cell-line: 
                        <% for (var i = 0; i < 1; i++) { %>
                            <%= dataset[i].Cell_lines %>
                        <% } %>
                </h4>

                <h4 style="text-align:center"> Magnification: 
                        <% for (var i = 0; i < 1; i++) { %>
                            <%= dataset[i].Magnification %>
                        <% } %>
                </h4>

                <h4 style="text-align:center">
                        <% for (var i = 0; i < 1; i++) { %>
                            <%= dataset[i].experiment_date %>
                        <% } %>
                </h4>

            
                <br>

                <div style="background-color:green;width:80%; margin-left: 10%;">
                    <% for (var i = 0; i < dataset.length; i++) { %>
                      <a href= "#" data-toggle="tooltip" title="<%= dataset[i].molecule_name %>"><div style="border: 3px solid black; width: 40px; height: 40px;display:inline-block;padding-left:5px; margin-bottom: 1%;">
                        <span style="font-size:10px;color: black; font-weight:400;"> <%= dataset[i].well_name %></span> 
                      </div></a>  

                        <% } %>
                </div>
               

                <br>
                <br>
                <br>
                <br>


        </body>

<style>

</style>

                <script>
                $(document).ready(function(){
                  $('[data-toggle="tooltip"]').tooltip();   
                });
                </script>


        </html>
