<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">


<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<html>

    <head>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #070999 !important;">
                <a class="navbar-brand" href="/" style="color:white !important;">CP Image Viewer</a>
        </nav>

</head>
        

        <body>

    <div class="container">
        <div class="row">
           
                    <br>
                    <br>
                    
                    <br>
        <div class="col-md-6">

                    <h2> Search by compound</h2>
                    
                
                    <div class="row">
                        <div class="col-md-10">
                                <form action="/mycompound" method="GET">
                                    <label style="text-align:center; margin-left: 20%;font-size:24px;">
                                        <!-- Search for a compound -->
                                    </label>
                                    <br>
                                        <input type="text" name="compound" placeholder="Enter compound name "required style="text-align:left; width: 100%;  height: 35px; border-radius: 15px  " />  
                                     
                                        <!-- <input type="submit" value="Submit" /> -->
                                   
                                    
                                </form>
                        </div>

                        <div class="col-md-2">
                                <button type="submit" class="btn btn-primary">Go</button>

                        </div>
                    </div>
                       

                        <br>
                        <br>


                        <h2>Search by plate</h2>
                        <br>

                        <table class="table table-bordered table-striped table-hover" id="platelist" style="box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);">
                                <thead style="background-color: rgb(9, 39, 206)">
                                  <tr style="color:white;">
                                    <th scope="col"> ID</th>
                                    <th scope="col">UCSC_CSC_plate_ID</th>
                                    <th scope="col">Alias name</th>
                                    
                                   
                                    
                                  </tr>
                                </thead>
                        
                        
                                <tbody>
                                    <tr>
                                        <% for (var i = 0; i < print.length; i++) { %>
                                            
                                            <td><%= i + 1%></td>
                                            <td>
                                                <div>
                                                    <span style="text-align:left">
                                                  <a href= "/platelist/<%= i+1 %> "><%= print[i].UCSC_CSC_plate_ID %></a>  
                                                    </span>
                                                   
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <span style="text-align:left">
                                                        <a href= "/platelist/<%= i+1 %> "><%= print[i].alias_name %></a>  
                                                    </span>
                                                   
                                                </div>
                                            </td>
                                       
                                        </tr>
                                        
                                        <% } %>

                                 
                                
                                  
                                </tbody>
                              </table>
            
        
        </div>

         
        </div>
                   

                  
                   

                  
               
       
    

      

<!-- 
                <h1 style="text-align:center;font-size:36px;color:red"> Screening Center Platemap list</h1> -->
            
                


        
</div>

</div>
                     
        
        </body>
        
       
        



<style>
 


a{
    text-decoration: none;
    color: black;
}

.dataTables_filter {
    float: left !important;
}

  body{
    font-family: 'Montserrat', sans-serif;

  }  
</style>




<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready( function () {
    $('#platelist').DataTable({
        // List of options to display results
    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],

    iDisplayLength: -1, //display All entries by default
    dom: '<"float-right"f><"float-right"l>tip'



    }

    );

   
} );
</script>



</html>