<html>


    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script> -->

<script src="https://code.jquery.com/jquery-1.12.4.js"></script> 
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 






<head>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #070999 !important;">
                <a class="navbar-brand" href="/" style="color:white !important;">CP Image Viewer</a>
        </nav>

</head>

<!--  <p style="text-align:right">If you cannot view tif files in your browser (firefox or Chrome), Download Tiff extensions here</p>
<a href="https://chrome.google.com/webstore/detail/tiff-viewer/fciggfkkblggmebjbekbebbcffeacknj" target="_blank"><p style="text-align:right">Download Tif file viewer for Chrome</p> </a>
<a href="https://addons.mozilla.org/en-US/firefox/addon/tiff-viewer/" target="_blank"><p style="text-align:right">Download Tif file viewer for Firefox</p> </a> --> 


<body>


  
    <script>
        // document.getElementById('opacity-slider').addEventListener('input', function (e) {
        // 
         // SLIDER BAR
        


        function blur() {
 
        var brightness = $("#brightness").slider("value");
        var contrast = $("#contrast").slider("value");


        $("#img01").css("-webkit-filter", "brightness(" + brightness + "%)" + "contrast(" + contrast + "%)");

        }


        //  $( function() {
        //     $("#brightness" ).slider();
        //     $( "#contrast" ).slider();
        //  } );
          
        $(function() {
            $("#brightness").slider({
            orientation: "horizontal",
            min: 100,
            max: 1000,
            value: 0,
            slide: blur,
            change: blur
            });

            $("#contrast").slider({
            orientation: "horizontal",
            min: 0,
            max: 1000,
            value: 100,
            slide: blur,
            change: blur
        });
        });
 
        
 



        let brightness_string ="brightness(";
        let contrast_string = "contrast(";
        let enclosing_bracket ="%)";
	    // wavelength_image.style.filter = "brightness(700%)";
        // });



        var elem1 = document.getElementById('brightness_range');

        var BrightnessValue = function(){
        let newValue = elem1.value;
        // let target = document.querySelector('.value');
        wavelength_image = document.getElementById('img01');
        let new_brightness_value = newValue.toString();
        let result1 = brightness_string.concat(new_brightness_value).concat(enclosing_bracket);
        wavelength_image.style.filter = result1;

        // target.innerHTML = new_brightness_value;

        }


        var elem2 = document.getElementById("contrast_range");

        var ContrastValue = function(){
        let newValue = elem2.value;
        let target = document.querySelector('.value');
        wavelength_image = document.getElementById('img01');
        let new_contrast_value = newValue.toString();
        let result2 = contrast_string.concat(new_contrast_value).concat(enclosing_bracket);
        wavelength_image.style.filter = result2;
        // target.innerHTML = new_brightness_value;

        }

elem1.addEventListener("input", BrightnessValue);
elem2.addEventListener("input", ContrastValue);


       







    
    </script>
  
   

  <!-- The Modal -->
<div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>
  
    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

    <br>
    <br>
    <!-- <div id="slider"></div> -->
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
                <div id="brightness">Brightness</div> 
                <br>
            
                <div id="contrast">Contrast</div> 
            
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
 
<!-- 

   
    <input type="range" id="brightness_range" min="100" max="1000" step="1" value="500" >
    <br>
    <br>
    
    <input type="range" id="contrast_range" min="-300" max="200" step="50" value="1" > -->
   
</div>


    <br>

    

    <br>
    <br>

    
                           
                     
                               
       <h1 style="text-align:center"><u>Compound - <%= well[4][0].molecule_name %></u> </h1>




<br>
<br>




  




<div class="container-fluid">

    <div class="row">
        <div class="col-md-3">
           
        </div>
        <div class="col-md-6" style="text-align:center">
            <button class="btn btn-primary" id="show_images" onclick="ShowImages()" style="text-align:center;" ><h4 style="font-size:24px;" id="image_tag">Images</h4></button> &nbsp; &nbsp;
            <button class="btn btn-primary" id="show_similar_compounds" onclick="ShowSimilarCompounds()" style="text-align:center; opacity:50%;"><h4 id="compound_tag">Similar Compounds</h4></button>
        </div>
        <div class="col-md-3">

        </div>

        
    </div>

    <br>
    <br>
    <br>


    <!--Similar compounds table  -->

    <div class="row" id="similar_compounds_table" style="display:none;">

            <table class="table table-bordered table-striped table-hover" style="width:80%;margin-left:10%;  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);">
                    <thead>
                      <tr>
              
                        <th scope="col" style="width:30px;">Compound name</th>  
                       
                        <th scope="col" style="width:5em;">Cell Count</th> 
                        <th scope="col" style="width:5em;">PHH3</th> 
                        <th scope="col" style="width:5em;">Edu</th> 
                        <th scope="col" style="width:3em;">Similarity score</th> 
                        <th scope="col" style="width:4em;"> Color bar</th> 
                      
        
                      </tr>
                    </thead>
            
                    <tbody>
                    
                            <% for (var i = 0; i < well[4].length; i++) { %>
                                <tr class="timeline"></tr>

                            <td class="timeline-yellow">
                                        <div class="timeline-time">
                                            <span style="text-align:left">
                                        <%= well[4][i].similar_compounds %>
                                            </span>
                                           
                                        </div>
                            </td>
                               
                                
                            <td class="timeline-yellow">
                                <div class="timeline-time">
                                    <span style="text-align:left">
                                  <a href=""><%= well[4][i].total_cells_Edu %></a>  
                                    </span>
                                   
                                </div>
                            </td>
        
                            
        
                            <td class="timeline-yellow">
                                <div class="timeline-time">
                                    <span style="text-align:left">
                                <%= well[4][i].positive_ph3 %>
                                    </span>
                                   
                                </div>
                            </td>
        
                        
        
                            <td class="timeline-yellow">
                                <div class="timeline-time">
                                    <span style="text-align:left">
                                <%= well[4][i].positive_edu %>
                                    </span>
                                   
                                </div>
                            </td>
        
                          
        
                            <td class="timeline-yellow">
                                <div class="timeline-time">
                                    <span style="text-align:left">
                                <%= well[4][i].corelation_score %> 
                                    </span>
                                   
                                </div>
                            </td>
        
                            <td class="timeline-yellow">
                               
                                <img src="/CP_IMAGE_VIEWER_APP/compound_scripts/<%= well[4][i].colorbar_filename %>"/>
                             
                                
                                  
                              
                            </td>
                            
                        </tr>
                            <br>
                            <% } %>
                    
                      
                    </tbody>
                  </table>
        

    </div>

    

    <!-- similar table compound ends here -->

    <div class="row" id="well_images">
        <div class="col-md-12">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-10">
                                <h1>Stain Set 1</h1>

                        </div>
                    </div>
                   
                        <br>

                        <!-- WAVELENGTH_1 IMAGES -->
                        <div class="row">
                            <div class="col-md-2">
                                <br>
                                <br>

                                    <p><%= well[0][1].w1 %></p>
                            </div>
                               
                            <div class="col-md-10">
                                     <% for (var i = 0; i < well[0].length -1 ; i++) { %> 

                         
                                        <img id="1" class="wavelength_image" onclick="ShowImageModal(this.id)" src="/4664/<%= well[0][0].w1_filepath %>" height="200" width="200" style="display:inline-block;"/>  
                                
                                        
                                        <img id="2" class="wavelength_image" onclick="ShowImageModal(this.id)" src="/4664/<%= well[0][1].w1_filepath %>" height="200" width="200" style="display:inline-block;"/>  
    
                            
    
                            <% } %> 

                            </div>
                              

                        </div>

                        <br>

                        <!-- WAVELENGTH_2 IMAGES -->
                        <div class="row">
                            <div class="col-md-2">
                                <br>
                                <br>

                                    <p><%= well[1][1].w2 %></p>

                            </div>

                            <div class="col-md-10">
                                    <% for (var i = 0; i < well[1].length -1 ; i++) { %>
                           
                           
                               
                                        <img id="3" class="wavelength_image" onclick="ShowImageModal(this.id)" src="/4664/<%= well[1][0].w2_filepath %>" height="200" width="200" style="display:inline-block;"/>  
                                        <img id="4" class="wavelength_image" onclick="ShowImageModal(this.id)" src="/4664/<%= well[1][1].w2_filepath %>" height="200" width="200" style="display:inline-block;"/>  
                                
                        
            
                           
           
                            <% } %> 

                            </div>
                               
                               
                            
                        </div>

                        <br>
                    

                        <!-- WAVELENGTH_3 IMAGES -->
                        <div class="row">
                            <div class="col-md-2">
                                <br>
                                <br>

                                    <p><%= well[2][1].w3 %></p>

                            </div>

                            <div class="col-md-10">
                                    <% for (var i = 0; i < well[2].length -1; i++) { %>
                           
                           
                               
                                        <img  class="wavelength_image" id="5" onclick="ShowImageModal(this.id)" src="/4664/<%= well[2][0].w3_filepath %>" height="200" width="200" style="display:inline-block;"/>  
                                        <img  class="wavelength_image" id="6" onclick="ShowImageModal(this.id)" src="/4664/<%= well[2][1].w3_filepath %>" height="200" width="200" style="display:inline-block;"/>  
                                
                        
                    
                     
                    
                            <% } %>

                            </div>

                               
                               
                            
                        </div>

                        <br>

                        <!-- WAVELENGTH_4 IMAGES -->
                        <div class="row">
                            <div class="col-md-2 col-lg-2">
                                <br>
                                <br>
                                <p><%= well[3][1].w4 %></p>

                            </div>

                            <div class="col-md-10 col-lg-10">
                                   
                           
                           
                               
                                    <% for (var i = 0; i < well[3].length -1; i++) { %>
                       
                       
                           
                                        <img id="7" onclick="ShowImageModal(this.id)" class="wavelength_image" src="/4664/<%= well[3][0].w4_filepath %>" height="200" width="200" style="display:inline-block;"/>  
                                        <img id="8" onclick="ShowImageModal(this.id)" class="wavelength_image" src="/4664/<%= well[3][1].w4_filepath %>" height="200" width="200" style="display:inline-block;"/> 
                            
                            
                             <% } %>
     
                                
                            
                            
                        
                            
                     

                            </div>
                             
                             
                            
                        </div>


                                

    
         
            </div> 

            <div class="col-md-6">
                    <h1>Stain Set 2</h1>
                    <br>

                    <!-- WAVELENGTH_1 IMAGES -->
                    <div class="row">

                            <div class="col-md-10">

                                    <% for (var i = 0; i < well[0].length-1 ; i++) { %>
                           
                           
                               
                                        <img id="9"  class="wavelength_image" onclick="ShowImageModal(this.id)" src="/4664/<%= well[0][0].w1_filepath %>" height="200" width="200" style="display:inline-block;"/>  
                                        <img id="10" class="wavelength_image" onclick="ShowImageModal(this.id)" src="/4664/<%= well[0][1].w1_filepath %>" height="200" width="200" style="display:inline-block;"/>  
                                
                        
        
                            
        
                            <% } %>
        
    
                            </div>
    

                        <div class="col-md-2">
                            <br>
                            <br>

                            <p>Nuclei</p>

                        </div>

                       
                           
                    </div>

                    <br>

                    <!-- WAVELENGTH_2 IMAGES -->
                    <div class="row">

                        <div class="col-md-10">

                                <% for (var i = 0; i < well[1].length-1 ; i++) { %>
                       
                       
                           
                                    <img id="11" class="wavelength_image" onclick="ShowImageModal(this.id)" src="/4664/<%= well[1][0].w2_filepath %>" height="200" width="200" style="display:inline-block;"/> 
                                    <img id="12" class="wavelength_image" onclick="ShowImageModal(this.id)" src="/4664/<%= well[1][1].w2_filepath %>" height="200" width="200" style="display:inline-block;"/>  
                             
                            
                    
        
                       
        
                        <% } %>

                        </div>

                        <div class="col-md-2">
                                <br>
                                <br>
                                
                                <p>Actin</p>

                        </div>
                           
                        
                    </div>

                    <br>
                

                    <!-- WAVELENGTH_3 IMAGES -->
                    <div class="row">

                        <div class="col-md-10">
                                <% for (var i = 0; i < well[2].length - 1 ; i++) { %>
                       
                       
                           
                                    <img id="13" class="wavelength_image" onclick="ShowImageModal(this.id)" src="/4664/<%= well[2][0].w3_filepath %>" height="200" width="200" style="display:inline-block;"/>  

                                    <img id="14" class="wavelength_image" onclick="ShowImageModal(this.id)" src="/4664/<%= well[2][1].w3_filepath %>" height="200" width="200" style="display:inline-block;"/>  
                            
                    
                
                 
                
                        <% } %>

                        </div>

                        <div class="col-md-2">

                                <br>
                                <br>
                                
                                <p>Tubulin</p>


                        </div>
                            
                        
                    </div>

                    <br>

                    <!-- WAVELENGTH_4 IMAGES -->
                    <div class="row">
                        <div class="col-md-10">
                                <% for (var i = 0; i < well[3].length -1 ; i++) { %>
                       
                       
                           
                                    <img id="15" class="wavelength_image" onclick="ShowImageModal(this.id)" src="/4664/<%= well[3][i].w4_filepath %>" height="200" width="200" style="display:inline-block;"/>  
                                    <img id="16" class="wavelength_image" onclick="ShowImageModal(this.id)" src="/4664/<%= well[3][i].w4_filepath %>" height="200" width="200" style="display:inline-block;"/>  
                            
                        
                        
                        <% } %>

                        </div>

                        <div class="col-md-2">

                        </div>
                          
                        
                    </div>
        </div> 


        </div>
           

    </div>
   
</div>

<br>
<br>
<br>




</body>


<script>
   
            // document.getElementById("well_image").style.filter = "brightness(200%)";
            // document.getElementById("well_image").style.filter = "contrast(50%)";


        function ShowImages(){
        $('#well_images').show();
        $('#similar_compounds_table').hide();

     
        document.getElementById("show_images").style.opacity = "100";

        document.getElementById("show_similar_compounds").style.opacity = "50%";

        document.getElementById("image_tag").style.fontSize= "24px";
        document.getElementById("compound_tag").style.fontSize= "16px";
      


        }



   


    function ShowSimilarCompounds(){
        $('#well_images').hide();
        $('#similar_compounds_table').show();

       

        document.getElementById("show_similar_compounds").style.opacity = "100%";
        document.getElementById("show_images").style.opacity = "50%";
        document.getElementById("compound_tag").style.fontSize= "24px";
        document.getElementById("image_tag").style.fontSize= "16px";
        

    }


    function ShowImageModal(clicked_id){

        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById(clicked_id);

        var modalImg = document.getElementById("img01");

        var captionText = document.getElementById("caption");
        img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;

        }   

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
        modal.style.display = "none";
        }


    }



         
</script>


<!-- CSS -->

<style>

        body{
          font-family: 'Montserrat', sans-serif;
      
        }  
      
      
        .wavelength_image {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        filter:brightness(500%) 
      }
      
      .wavelength_image:hover {opacity: 0.7;}
      
      /* The Modal (background) */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
      }
      
      /* Modal Content (Image) */
      .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
      }
      
      /* Caption of Modal Image (Image Text) - Same Width as the Image */
      #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
      }
      
      /* Add Animation - Zoom in the Modal */
      .modal-content, #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
      }
      
      @keyframes zoom {
        from {transform:scale(0)}
        to {transform:scale(1)}
      }
      
      /* The Close Button */
      .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
      }
      
      .close:hover,
      .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
      }
      
      /* 100% Image Width on Smaller Screens */
      @media only screen and (max-width: 700px){
        .modal-content {
          width: 100%;
        }
      }
      
      
      @import url(https://fonts.googleapis.com/css?family=Dosis:700);
      body {
        font-family: "Dosis", Helvetica, Arial, sans-serif; 
        background: #ecf0f1;
        color: #34495e;
        padding-top: 40px;
        text-shadow: white 1px 1px 1px;
      }
      .value {
        border-bottom: 4px dashed #bdc3c7;
        text-align: center;
        font-weight: bold;
        font-size: 10em;
        width: 300px; 
        height: 100px;
        line-height: 60px;
        margin: 40px auto;
        letter-spacing: -.07em;
        text-shadow: white 2px 2px 2px;
      }
      input[id="contrast_range"] {
        display: block;
        -webkit-appearance: none;
        background-color: #bdc3c7;
        width: 300px;
        height: 5px;
        border-radius: 5px;
        margin: 0 auto;
        outline: 0;
      }
      input[id="contrast_range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: #e74c3c;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid white;
        cursor: pointer;
        transition: .3s ease-in-out;
      }​
        input[id="contrast_range"]::-webkit-slider-thumb:hover {
          background-color: white;
          border: 2px solid #e74c3c;
        }
        input[type="contrast_range"]::-webkit-slider-thumb:active {
          transform: scale(1.6);
        }
      
      
        input[id="brightness_range"] {
        display: block;
        -webkit-appearance: none;
        background-color: #bdc3c7;
        width: 300px;
        height: 5px;
        border-radius: 5px;
        margin: 0 auto;
        outline: 0;
      }
      input[id="brightness_range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: #e74c3c;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid white;
        cursor: pointer;
        transition: .3s ease-in-out;
      }​
        input[id="brightness_range"]::-webkit-slider-thumb:hover {
          background-color: white;
          border: 2px solid #e74c3c;
        }
        input[id="brightness_range"]::-webkit-slider-thumb:active {
          transform: scale(1.6);
        }
      
      
        #brightness,#contrast{
         width: 300px;
         margin: 15px;
         float:right;
       } 
      </style>
      



</html>


