<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<html>
        

        <body>
                <h1 style="text-align:center;font-size:36px;color:red">All Plates</h1>
                <br>
                <br>
                <table class="table tpos table-bordered table-striped table-hover" style="width:90%;margin-left:5%;">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Plate ID</th>
                            <th scope="col">Cell_lines</th>
                            <th scope="col">TimePoint</th>
                            <th scope="col">Magnification</th>
                            <th scope="col">Experiment Date</th>
                          
                           
                            
                          </tr>
                        </thead>
                
                
                        <tbody>
                        
                                <% for (var i = 0; i < print.length; i++) { %>
                                    <tr class="timeline"></tr>
                                    <td><%= i + 1%></td>
                                <td class="timeline-yellow">
                                    <div class="timeline-time">
                                        <span style="text-align:left">
                                      <a href= "/plates/<%= i + 1 %>"><%= print[i].UCSC_CSC_plate_ID %></a>  
                                        </span>
                                       
                                    </div>
                                </td>

                                <td class="timeline-yellow">
                                    <div class="timeline-time">
                                        <span style="text-align:left">
                                                <%= print[i].Cell_lines %> 
                                        </span>
                                       
                                    </div>
                                </td>
                
                                <td class="timeline-yellow">
                                    <div class="timeline-time">
                                        <span style="text-align:left">
                                                <%= print[i].TimePoint %> 
                                        </span>
                                       
                                    </div>
                                </td>
                
                                <td class="timeline-yellow">
                                    <div class="timeline-time">
                                        <span style="text-align:left">
                                                <%= print[i].Magnification %> 
                                        </span>
                                       
                                    </div>
                                </td>
                                <td class="timeline-yellow">
                                    <div class="timeline-time">
                                        <span style="text-align:left">
                                                <%= print[i].experiment_date %> 
                                        </span>
                                       
                                    </div>
                                </td>
                                
                          
                
                               
                            </tr>
                                <br>
                                <% } %>
                        
                          
                        </tbody>
                      </table>
                
                
                    
        
        </body>
        
        
        

</html>

<style>
    .tpos {
  
    position: absolute;
    top: 15%;
}

body{

}

a{
    text-decoration: none;
    color: black;
}
</style>






