<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<h1>Scroll down to see paired plates and their data</h1>

<table class="table" style="width:50%;margin-left:10%;">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Plate ID</th>
            <th scope="col">384 Plate ID</th>
            <th scope="col">Cell Line</th>
            <th scope="col">Timepoint</th>
            <th scope="col">Magnification</th>
            
            
          </tr>
        </thead>


        <tbody>
        
                <% for (var i = 0; i < testing.length; i++) { %>
                    <tr class="timeline"></tr>
                    <td><%= testing[i].id%></td>
                <td class="timeline-yellow">
                    <div class="timeline-time">
                        <span style="text-align:left">
                      <a href= "/plate"><%= testing[i].UCSC_CSC_plate_ID %></a>  
                        </span>
                       
                    </div>
                </td>

                <td class="timeline-yellow">
                        <div class="timeline-time">
                            <span style="text-align:left">
                                    <%= testing[i].plate_ID_384 %> 
                            </span>
                           
                        </div>
                </td>

                <td class="timeline-yellow">
                    <div class="timeline-time">
                        <span style="text-align:left">
                                <%= testing[i].Cell_lines %> 
                        </span>
                       
                    </div>
                </td>

                <td class="timeline-yellow">
                    <div class="timeline-time">
                        <span style="text-align:left">
                                <%= testing[i].TimePoint %> 
                        </span>
                       
                    </div>
                </td>

                <td class="timeline-yellow">
                    <div class="timeline-time">
                        <span style="text-align:left">
                                <%= testing[i].Magnification %> 
                        </span>
                       
                    </div>
                </td>

                
            </tr>
                <br>
                <% } %>
        
          
        </tbody>
      </table>
