<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">



<p style="text-align:right">If you cannot view tif files in your browser (firefox or Chrome), Download Tiff extensions here</p>
<a href="https://chrome.google.com/webstore/detail/tiff-viewer/fciggfkkblggmebjbekbebbcffeacknj" target="_blank"><p style="text-align:right">Download Tif file viewer for Chrome</p> </a>
<a href="https://addons.mozilla.org/en-US/firefox/addon/tiff-viewer/" target="_blank"><p style="text-align:right">Download Tif file viewer for Firefox</p> </a>

<body>


  
    

  


    <br>

    

    <br>
    <br>
    <br>
    <br>

    <h6 style="text-align:center"> Well location - 
            <% for (var i = 0; i < 1; i++) { %>
                <%= well[i].well_name %>
            <% } %>
       </h6>
    
    <h6 style="text-align:center">
        <% for (var i = 0; i < 1; i++) { %>
            <%= well[i].UCSC_CSC_plate %>
        <% } %>
</h6>

<h6 style="text-align:center"> Cell-line: 
        <% for (var i = 0; i < 1; i++) { %>
            <%= well[i].Cell_lines %>
        <% } %>
</h6>

<h6 style="text-align:center"> Magnification: 
        <% for (var i = 0; i < 1; i++) { %>
            <%= well[i].Magnification %>
        <% } %>
</h6>

<h6 style="text-align:center">
        <% for (var i = 0; i < 1; i++) { %>
            <%= well[i].experiment_date %>
        <% } %>
</h6>




<div class="container">
    <div class="row">
        <div class="col=md-12">
                <div class="col=md-5">
                        <h1>Stain Set 1</h1>
                        <% for (var i = 0; i < well[0].length ; i++) { %>
                           
                           
                               
                                    <img onmouseover="enlarge(this)" onmouseout="normalImage(this)" src="/4664/<%= well[0][i].w1_filepath %>" height="300" width="300" style="display:inline-block;"/>  
                            
                        <% } %>
                    </div>
                   
                  
                </div>
                    </div>
                <!-- <div class="col=md-5">
                        <h1>Stain Set 2</h1>
                        <% for (var i = 0; i < well[1].length ; i++) { %>
                           
                           
                               
                                    <img onmouseover="enlarge(this)" onmouseout="normalImage(this)" src="/4692/<%= well[1][i].w1_filepath %>" height="300" width="300" style="display:inline-block;"/>  
                            
                        <% } %>
                    </div> -->
                    
                  
                </div>
                        </div> 
        </div>
   

      

       

    <br>
    <br>
   
   
   
</div>


</body>

<script>
    function enlarge(x) {
        x.style.height = "500";
        x.style.width = "500";
    }

    function normalImage(x){
        x.style.height = "300";
        x.style.width = "300";
    }
</script>
