<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<h1 style="text-align:center;font-size: 36px;"></h1>
<br>


<body>


   <h1 style="text-align:center;font-size:48px;">
        <% for (var i = 0; i < 1; i++) { %>
            <%= well[i].molecule_name %>
        <% } %>
       </h1>
    

  


    <br>

    

    <br>
    <br>
    <br>
    <br>

    <h6 style="text-align:center"> Well location - 
            <% for (var i = 0; i < 1; i++) { %>
                <%= well[i].well_name %>
            <% } %>
       </h6>
    
    <h6 style="text-align:center">
        <% for (var i = 0; i < 1; i++) { %>
            <%= well[i].UCSC_CSC_plate %>
        <% } %>
</h6>

<h6 style="text-align:center"> Cell-line: 
        <% for (var i = 0; i < 1; i++) { %>
            <%= well[i].Cell_lines %>
        <% } %>
</h6>

<h6 style="text-align:center"> Magnification: 
        <% for (var i = 0; i < 1; i++) { %>
            <%= well[i].Magnification %>
        <% } %>
</h6>

<h6 style="text-align:center">
        <% for (var i = 0; i < 1; i++) { %>
            <%= well[i].experiment_date %>
        <% } %>
</h6>


<div>
        <img src="/4447/HeLa SP0138 Cyto2 20161007_A01_s2_w14422AB1F-2528-406F-BF79-0428FAB1B60F.tif" height="150" width="150">
     
        <img src="/4447/HeLa SP0138 Cyto2 20161007_A24_s2_w2620CEA14-2B28-45C7-B2EC-348E24E8C199.tif" height="150" width="150">
    <% for (var i = 0; i < 1; i++) { %>
      <!-- <img src=" /Users/ambrose/Desktop/Extra/Molecules/4447/<%= well[i].w1_filepath %> " > -->
     
    <% } %>
    <br>
    <% for (var i = 1; i < 2; i++) { %>
        <%= well[i].w1_filepath %>
    <% } %>
</div>


</body>
