<html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       

        <head>
                        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #144878 !important;">
                                <a class="navbar-brand" href="/" style="color:white !important;">CP Image Viewer</a>
                
                              </nav>
                
                </head>



        <body style="background-color: #fff7e2">
                <h1 style="text-align:center">
                        <% for (var i = 0; i < 1; i++) { %>
                            <%= dataset[i].UCSC_CSC_plate %>
                        <% } %>
                </h1>

                <h4 style="text-align:center"> Cell-line: 
                        <% for (var i = 0; i < 1; i++) { %>
                            <%= dataset[i].Cell_lines %>
                        <% } %>
                </h4>

                <h4 style="text-align:center"> Magnification: 
                        <% for (var i = 0; i < 1; i++) { %>
                            <%= dataset[i].Magnification %>
                        <% } %>
                </h4>

                <h4 style="text-align:center">
                        <% for (var i = 0; i < 1; i++) { %>
                            <%= dataset[i].experiment_date %>
                        <% } %>
                </h4>



            
                <br>

                

                <div class="container">
                <div class="row">
                       <!-- <div class="col-md-1">
                                
                        </div>   -->
                        <div class="col-md-12">
                                        <% var j = 0; for (var i = 0; i < dataset.length; i++) {  %>

                                                <% j++; if (j % 24 == 0) { %>

                                                        <button type="button" data-toggle="popover" title="<%= dataset[i].well_name %>" data-content="<u>Compound:</u> <%= dataset[i].molecule_name %>  <br> <u>Concentration:</u> <%= dataset[i].Concentration %>" class="btn btn-primary" style=" width: 40px; height: 40px;display:inline-block; background-color: green;padding-left:5px; margin-bottom: 1%; text-align:center">
                                                                <a href="/wells/<%= dataset[i].id %>" ><span style="font-size:14px; font-weight:600; text-align:center; color:white !important">  <%= dataset[i].well_name %></span> </a> 
                                                   </button> <br>
                                                      <% }else { %>

                                                        
                                                        <!-- <a href= "/wells/<%= dataset[i].id %>" data-toggle="tooltip" title="Compound: <%= dataset[i].molecule_name %>, Concentration:  <%= dataset[i].Concentration %>"><label class="btn btn-primary" style=" width: 40px; height: 40px;display:inline-block; background-color: rgb(73, 150, 73) !important;;padding-left:5px; margin-bottom: 1%; text-align:center">
                                                                <span style="font-size:14px; font-weight:600; text-align:center;"> <%= dataset[i].well_name %></span> 
                                                        </label></a>
                                                    -->
                                                   <button type="button" data-toggle="popover" title="<%= dataset[i].well_name %>" data-content="<u>Compound:</u> <%= dataset[i].molecule_name %>  <br> <u>Concentration:</u> <%= dataset[i].Concentration %>" class="btn btn-primary well" style=" width: 40px; height: 40px;display:inline-block; background-color:green;padding-left:5px; margin-bottom: 1%; text-align:center">
                                                                <a href="/wells/<%= dataset[i].id %>" ><span style="font-size:14px; font-weight:600; text-align:center; color:white !important">  <%= dataset[i].well_name %></span> </a> 
                                                   </button>
                                                   
                        
                        
                                                  <% } %>
                        
                                              
                                             
                                                     
                                                          
                        
                        
                                                      
                                              
                        
                                                <% } %>

                        </div>

                        <!-- <div class="col-md-2">
                                
                        </div>  -->

                </div>
                   
                </div>
               

                <br>
                <br>
                <br>
                <br>


        </body>

        <script>
                        $(document).ready(function(){
                          $('[data-toggle="popover"]').popover({
                                placement: 'top',
                                trigger: 'hover',
                                html:true
                          });   
                        });
        </script>

<style>
body{
    font-family: 'Montserrat', sans-serif;

  }  

.well:hover{
        background-color: rgb(10, 75, 10) !important;
}

</style>


              


</html>



